---
import Layout from '../layouts/Layout.astro';
import { safeJsonLd } from '../lib/jsonld';

const personJsonLd = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: 'Martín Granados García',
  url: 'https://martingranados.com',
  jobTitle: 'Software Engineer',
  worksFor: {
    '@type': 'Organization',
    name: 'Incredible',
    url: 'https://www.getincredible.com/',
  },
  sameAs: ['https://github.com/mgranados', 'https://x.com/martingranadosg'],
};
---

<Layout>
  <script is:inline type="application/ld+json" set:html={safeJsonLd(personJsonLd)} slot="head" />
  <p>
    I'm a software engineer and cofounder at <a href="https://www.getincredible.com/">Incredible</a>
    in London. Previously at <a href="https://etsy.com">Etsy</a>, <a href="https://oyster.io"
      >Oyster</a
    >, and <a href="https://wizeline.com">Wizeline</a>, used to live and love Mexico city. I studied
    Computer Science at Tecnológico de Monterrey (Puebla).
  </p>

  <p>Outside of work I play football and videogames. I love coffee (perhaps too much).</p>

  <p>
    Elsewhere:
    <a href="https://github.com/mgranados">github</a> ·
    <a href="https://x.com/martingranadosg">x (twitter)</a>.
  </p>
</Layout>
